### dotenv ###
# General
.env

# local env files
.env*.local

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

### NextJS ###
# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
dist/

# production
build/

# misc
*.pem

# debug
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

### Node ###
# Logs
logs
*.log
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Optional eslint cache
.eslintcache

# ignore vscode workspace settings
*.code-workspace
.vscode

# ignore test output
.nyc_output/