.header {
  height: 55px;
  @apply grid grid-cols-2;
  @media (min-width: theme('screens.md')) {
    height: 80px;
  }
  background-color: theme('colors.grayscale.100');
  padding: 0.5rem 1rem;
  align-items: center;
  .hide-on-mobile {
    @apply hidden;
    @media (min-width: theme('screens.md')) {
      @apply flex;
      margin-right: 1rem;
    }
  }
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-menu {
  border-left: 1px solid theme('colors.grayscale.400');
  padding-left: 1rem;
}

.logo {
  width: auto;
  height: 30px;
  width: 126px;
  @media (min-width: theme('screens.md')) {
    height: 61px;
    width: 250px;
  }
}
