.header {
    height: 55px;
    @media (min-width: theme('screens.md'))  {
        height: 80px;
    }
    background-color: theme('colors.grayscale.100');
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 30px;
    width: 126px;
    @media (min-width: theme('screens.md'))  {
        height: 61px;
        width: 250px;
    }
}
